*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightskyblue;
    color:#222;
    font-size:1rem;
    display: flex;
    justify-content:center;
    align-items: center;
    width:100vm;
    height:100vh;
}
.title{
    color:#222;
    font-size: 1.5rem;
    text-align: center;
}
.temp-conv{
    background: #ecebeb;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 25px 20px;
    min-width: 320px;
    width: 100%;
    height: auto;
}
.result{
    text-align: center;
    margin: 20px 0;
}
.reslut-head{
    color: #555;
    font-size: 1rem;
    font-weight: 600;
}
.celsius-value{
    border-bottom: 2px solid #ccc;
    padding: 10px;
}
label{
    color: rgb(27, 25, 25);
    font-size: 0.8rem;
    margin-bottom: 5px;
}
input,select{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    padding: 8px;
    margin-bottom: 15px;
}
.degree-type{
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.display-field{
    flex-direction: column;
    width: 46%;
}
#option:hover{
    background-color: rgb(83, 168, 221);
    color: #f6f6f6;
}
#convert-btn{
    background-color: rgb(43, 167, 244);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 2px;
    padding: 5px 40px;
    transition: all 0.3s ease-in;
}
#convert-btn:hover{
    background-color: white;
}